<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>Intha🤲bro</title>
</head>

<body>
  <!--navbar-->


  <!-- text -->
  <div class="container-fluid main">
    <div class="conatiner-fluid">
      <h1>Intha🤲bro</h1>

      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
      <div class="container-fluid para">
        <p>vaendhu thanindhathu kaadu kondu vantha link ka inga podu</p>
      </div>
    </div>
    <div class="container-fluid form">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3 mt-3">

          </span>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Paste your link here" name="url">
        </div>
        <button class="btn btn-primary">Thatti vidu</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>

</body>

</html>